* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
.container div {
  /* border: 1px solid;  */
}
.container {
  display: grid;
  grid-template: 1fr 7fr / 1fr 4fr;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  box-shadow: 0px 1px 5px 2px rgb(165, 164, 164);
  z-index: 2;
}

.first-row , .second-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px 0 30px;
}
.first-row div:nth-child(2){
  padding: 0 20px;
  font-size: 1.3rem;
  gap: 30px;
}
.first-row div:nth-child(1){
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.first-row div:nth-child(1) input{
  border: 1px solid black;
  max-width: 30rem;
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: rgb(244, 242, 242);
}

.first-row div , .second-row div:not(div div:nth-child(2)){
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.second-row div:nth-child(1) div:nth-child(2) p:nth-child(2){
  font-size: 2rem;
}
.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(10, 160, 211);
  padding-left: 20px;
  color: white;
}
.sidebar svg{
  fill: white;
}
.article {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 20px;
  padding: 20px;
  /* padding-bottom: 50px; */
  background-color: rgb(218, 222, 224);
}
.article div{
  border-radius: 10px
}
.projects > div {
  background-color: white;
  padding: 20px;
}
.projects {
  
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.announcements {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
}
.announcements div{
  padding: 20px;
}
.trending {
  grid-area: 2 / 2 / 3 / 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
img {
  width: 30px;
  height: 30px;
}

.sidebar img{
  filter: invert(100%);

}

div.sidebar-row {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  max-height: 50px;
  padding: 20px;
}

div.sidebar-block-1 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 2rem;
  max-height: 100px;
  padding: 20px;
}

.user{
  display: flex;
  align-items: center;
  gap: 20px;
}

button{
  padding: 10px;
  border-radius: 20px;
  border: 0;
  font-size: 1rem;
  background-color: blue;
  width: 80px;
  color: white;
  font-weight: 700;
}

h2,h1{
  margin: 5px 0;
}


@media (max-width: 450px) {
  .container{
    grid-template: 1fr 1fr 8fr/ 1fr;
  }
  .header{
    grid-area: 1/1/2/2;
  }

  .header .first-row , .header .second-row {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    padding: 0 50px 0 30px;
  }
  .sidebar {
    grid-area: 2/1/3/2;
  }

  .article{
    grid-area: 3/1/4/1;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr;
  }

  .article .projects{
    grid-area: 1 / 1 / 2/ 2;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
  .article .announcements{
    grid-area: 2 / 1 / 3/ 2;
  }
  .article .trending{
    grid-area: 3 / 1 / 4/ 2;
  }
}