* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container div {
  border: 1px solid; 
}
.container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}
.header {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  align-items: center;
  grid-area: 1 / 2 / 2 / 3;
  background-color: beige;
}
.header > div {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
}
.container .first-row > div,
.container .second-row > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container > div .left {
  justify-content: flex-start;
}
.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: lightblue;
  padding-left: 20px;
}
.article {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: rgb(181, 239, 114);
}
.projects > div {
  background-color: white;
}
.projects {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.announcements {
  grid-area: 1 / 2 / 2 / 3;
  background-color: lightblue;
}
.trending {
  grid-area: 2 / 2 / 3 / 3;
  background-color: lightblue;
}
img {
  width: 40px;
  height: 40px;
  border: 1px solid red;
}

svg {
  width: 40px;
  height: 40px;
}
div.sidebar-row {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}

div.sidebar-block-1 {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}
